/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
  }

  .discreet-link{
    color: #222;
  }

  .discreet-link:visited{
    color: #222;
  }

  .discreet-link:hover{
    color: rgb(79, 79, 79);
  }

  .discreet-link:active{
    color: rgb(116, 116, 116);
  }

  .txt-light {
    color: rgb(44, 44, 44);
  }

  .txt-smaller {
    font-size: 0.66rem;
  }

  /* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }
  .section-heading,
  .section-description {
    margin-bottom: 1.2rem;
  }

  .footer {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:6rem;
    margin-bottom: 3rem;
  }

  /* Hero
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .hero-image-container {
    perspective: 250px;
  }

  .hero-logo {
    max-width: 66%;
  }

  .hero-image {
    max-width: 70%;
    margin-left:auto;
    margin-right: auto;
  }



  /* Values
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .green-background {
    background: rgb(85,194,194);
    background: linear-gradient(18deg, rgba(85,194,194,1) 0%, rgba(70,146,164,1) 33%, rgba(59,111,142,1) 100%);
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
  }

  .values img {
    max-height: 4rem;
  }

  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }

  /* Help
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .get-help {
    border-bottom: 1px solid #ddd;
  }

  /* Categories
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .categories {
    background-size: cover;
    color: #fff;
  }
  .categories .section-description {
    margin-bottom: 4rem;
  }

  /* Bigger than 550 */
  @media (min-width: 550px) {
    .section {
      padding: 12rem 0 11rem;
    }
    .hero {
      padding-bottom: 12rem;
      text-align: left;
      height: 165px;
    }

    .hero-logo {
      margin-top: 3rem;
    }


    .phone {
      position: absolute;
      top: -7rem;
      right: 3rem;
      max-height: 362px;
      z-index: 3;
    }
    .phone + .phone {
      top: -6rem;
      display: block;
      max-width: 73.8%;
      right: 0;
      z-index: 2;
      max-height: 338px;
    }
    .hero-heading {
      font-size: 2.4rem;
      font-weight: 500 !important;
    }

    .hero-image {
      max-width: 80%;
      transform: rotateY(-15deg);
      margin-right: 0px;
      margin-top:1rem;
    }



    .hero-logo {
      max-width: 80%;
    }

    .values img {
      max-height: 4rem;
    }

    .footer {
      margin-top:4rem;
      margin-bottom: 2rem;
    }

  }

  /* Bigger than 750 */
  @media (min-width: 750px) {
    .hero {
      height: 190px;
    }
    .hero-heading {
      font-size: 2.6rem;
    }
    .section {
      padding: 14rem 0 15rem;
    }
    .hero {
      padding: 16rem 0 14rem;
    }
    .section-description {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .phone {
      top: -14rem;
      right: 5rem;
      max-height: 510px;
    }
    .phone + .phone {
      top: -12rem;
      max-height: 472px;
    }
    .categories {
      padding: 15rem 0 8rem;
    }

    .hero-image {
      max-width: 70%;
      transform: rotateY(-15deg);
      margin-left: auto;
    }

    .hero-logo {
      max-width: 75%;
    }

    .values img {
      max-height: 4rem;
    }

    .footer {
      margin-top:5rem;
      margin-bottom: 2rem;
    }

  }

  /* Bigger than 1000 */
  @media (min-width: 1000px) {
    .section {
      padding: 20rem 0 19rem;
    }

    
   
    .hero-heading {
      font-size: 3.0rem;
    }

    .hero-image{max-width: 60%;}

    .hero-logo {
      max-width: 70%;
      margin-top: 4rem;
    }

    .values img {
      max-height: 5rem;
    }

    .footer {
      margin-top:6rem;
      margin-bottom: 3rem;
    }






  }